{% extends "mainpage.twig" %}



{% block css %}
    <link rel="stylesheet" href="/loginsystem/style/style.css">
{% endblock css %}

{% block article %}
<div id="left">
    <h1>About</h1>
</div>
<div id="right">
<p>This is just a small project that I made. Its just a login system with a authentication system. I know there are systems that already do that but I just wanted to try and make one on my own to see if I can make it.I have other projects too they are not so great but if you want to look you can check them at 
<a href="https://github.com/sabi1125?tab=repositories">https://github.com/sabi1125?tab=repositories</a>. 
<br>
You can start looking around by Signing up with the Signup Button up on the navbar or By clicking <a href="/loginsystem/handlers/signup.php">here</a> .
</p>
</div>
{% endblock article %}