{% extends "mainpage.twig" %}
 {% block css %}
    <link rel="stylesheet" href="/style/style.css">
    {% endblock css %}
{% block main %}

<h1>Authenticate</h1>
<div class="line"></div>
<p>This webpage was made actually to send a verification email and get login credentials through email with the help of token using pure php and SMTP(simple mail transfer protocol).
<br>There was an obvious flaw. I managed to make and run it Locally on my computer with xampp.But I didnt consider the fact that when I would be uploading it to a live server the<br>
 credentials that I used to authorize my SMTP authorization would be visible. At the moment I dont know how to work around that so I had to downgrade the website to a simple login system.
 <br>I am guessing that in order to make a email verification I have to set up an environment seperately. But I dont know for sure. So it is what it is and this is just a basic login system.
 <br>Thankyou for visiting and I hope to make it work soon with email verification.<br>
 -Sabir Barahi.
</p>

<div id="links">
<a href="/handlers/logout.php">Logout</a>
</div>


{% endblock main %}