{% extends "mainpage.twig" %}
 {% block css %}
    <link rel="stylesheet" href="/style/style.css">
    {% endblock css %}
{% block main %}

<h1>Authenticate</h1>
<div class="line"></div>
<p>Secure way to Login to almost anything</p>

<div id="links">
<a href="/handlers/logout.php">Logout</a>
</div>


{% endblock main %}