{% extends "mainpage.twig" %}

{% block css %}
    <link rel="stylesheet" href="/loginsystem/style/style.css">
{% endblock css %}
{% block main %}

<div id="login">

<form action="/loginsystem/handlers/login.php" method="post">


<h2>Login</h2>


{% if msg.status == true %}

<h3 class="msg">{{msg.msg}}</h3>

{% elseif err.status == true %}

<h3 class="err">{{err.err}}</h3>

{% endif %}


<label>
Username
</label>
<br>
<input type="text" name="username" placeholder="Enter your Username">
<br>
<label>
Password
</label>
<br>
<input type="password" name="password" placeholder="Enter your Password">
<br>
<button name="login" type="submit">Login</button>
</form>

</div>

{% endblock main %}