<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="/loginsystem/style/style.css">
    {% endblock css %}
    <title>Mainpage</title>
</head>
<body>

<main>

{% block main %}

<h1>Authenticate</h1>
<div class="line"></div>
<p>Secure way to Login to almost anything</p>

<div id="links">
<a href="/handlers/signup.php">Signup</a>

<a href="/handlers/login.php">Login</a>
</div>


{% endblock main %}

</main>

</body>
</html>