{% extends "mainpage.twig" %}

{% block main %}
<div id="signup">

<div id="left">
<h1>Authenticate</h1>
</div>
<div id="right">
<form action="" method="post">
<h2>Signup</h2>
<div class="inputs">
<label>
Username
</label>
<br>
<input type="text" name="fname" placeholder="Enter your First Name">
<br>
<label>
Email
</label>
<br>
<input type="text" name="lname" placeholder="Enter your First Name">
<br>
<label>
Password
</label>
<br>
<input type="text" name="lname" placeholder="Enter your First Name">
<br>
<button>Signup</button>
</div>
</form>
</div>
</div>
{% endblock %}
