{% extends "mainpage.twig" %}


{% block css %}
    <link rel="stylesheet" href="/style/style.css">
    {% endblock css %}

{% block main %}
<div id="signup">

<div id="left">
<h1>Authenticate</h1>
</div>
<div id="right">
<form action="" method="post">
<h2>Signup</h2>
<div class="inputs">
<label>
Username
</label>
<br>
<input type="text" name="username" placeholder="Enter a Username">
<br>
<label>
Email
</label>
<br>
<input type="email" name="email" placeholder="Enter your E-mail">
<br>
<label>
Password
</label>
<br>
<input type="password" name="password" placeholder="Enter a Password">
<br>
<button>Signup</button>
</div>
</form>
</div>
</div>
{% endblock %}
